.App {
  text-align: center;
}
 .menu{
  align-self: end;
  margin-right: 20px;
  padding: 15px;
  display: flex;
  justify-content: end;
 }
 .withoutname2{
  align-items: center;
  display: flex;
  flex-direction: column;
 }